@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-color:#08162b;
}